{% extends "index.html" %}
{% block content %}
  <form method="post" enctype="multipart/form-data">
      <div class='order'>
        {% csrf_token %}
        {{form}}
        {{ formset.management_form }}
        <div>
          {% for image_form in formset %}
          <div class='order_image'>
            {{image_form}}
          </div>
          {% endfor %}
        </div>
      </div>
      <input class='order_button2' type="submit" value="Save">
  </form>
  
{% endblock content %}
